@CHARSET "UTF-8";
form{
	margin: 0 auto;
	
}
.bg{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat; 
	background-position: center; 
	height: 600px; 
	width: 900px;
	background-size: 100% 100%; 
    margin: auto auto;
}
h2 {
    font-family: 宋体;
    font-size: 28px;
    text-align: center;
    margin-top: auto;
    height: 30px;
    width: 900px;
}
.box {
    height: 370px;
    width: 900px;
    margin: auto auto;
    padding-top: 50px;
}

.input_box{
	text-align:center;
    height: 30px;
    width: 900px;
    margin-left: 70px;
}
input{
    height: 20px;
    width: 230px;
    margin-right: 150px;
}

.button input{
	width: 100px;
	height: 30px;
	margin-left: 420px;
	margin-top: 25px;
}
h4{
   text-align:center;
   margin-left: 380px;
   margin-top: 15px;
}

